{% extends 'layout.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body style="background-color:powderblue;">
<center>
 <h1>Hello !!!{{user.username}} </h1><br><br>
 
 <div>
    <h2>Your account details are below:</h2>
    <p>Your  username is: {{user.username}} </p>
    <p>Your  email is: {{user.email}} </p>
    
</div>

 <!-- <a href="{{url_for('logout')}}">Logout</a><br><br> -->
 <a href="/update/{{user.id}}">Update Profile</a>
 </center>
</body>
</html>
{% endblock %}